* {
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-image: url(/images/nami.png);
}

nav {
    background-color: #2f4f4f;
    z-index: 3;
    height: 100px;
    width: 100%;
    position: fixed;
}

.logo {
    width: 200px;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 0;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.navbar:hover {
    background: #7fffd4;
    color: black;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #7fffd4;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 960px){
    label.logo {
        font-size: 35px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 25px;
    }
}

@media (max-width: 960px){
    .checkbtn{
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #7fffd4;
        top: 100px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 100px 0;
        line-height: 30px;
    }
    nav ul li a {
        color: black;
        font-size: 25px;
    }
    .navbar:hover {
        background: #2f4f4f;
        color: white;
        transition: .5s;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

section {
    text-align: center;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/images/heroimg.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text h1 {
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text p {
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about {
    color: white;
    font-size: 1.5em;
    padding: 30px;
    text-align: center;
    margin: auto;
    max-width: 500px;
}

.linkbtn {
    text-align: center;
    left: 50%;
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: #2f4f4f;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.linkbtn:hover {
    background-color: #7fffd4;
    color: black;
    transition: .5s;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: white;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

a {
    font-family: 'Open Sans', sans-serif;
}

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}

@media (max-width: 700px){
    .grid-container {
        display: grid;
        align-items: center;
        grid-template-columns: 100%;
    }
}

.card {
    margin: 5px;
}

.card img {
    width: 100%;
}

footer {
    background-color: #2f4f4f;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: bottom;
}

i {
    color: white;
}

.productpage-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/images/heroproductimg.jpg");
    height: 600px;
    top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.productpage-text h1 {
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.product-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.centerwrapper {
    margin: auto;
}

.product-card {
    display: inline-block;
    width: 300px;
    margin: 30px;
    background-color: lightgrey;
    border-radius: 25px 25px 0 0;
}

.product-img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.favourite {
    height: 72px;
    float: left;
}

.cart {
    height: 72px;
    float: right;
}